#login-form {
  position: absolute;
  z-index: 20;
  top: 120px;
}
#login-form input {
  width: 350px;
  height: 50px;
  z-index: 20;
  border: 2px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 25px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 400;
  outline: none;
  background-color: transparent;
}
#login-form input:focus {
  border: 2px solid #8a877e;
  border-top: none;
  border-left: none;
  border-right: none;
  transition: 0.2s ease-in-out;
}
#login-form input::placeholder {
  color: white;
  opacity: 0.7;
}

#login-form button {
  display: inline;
  background-color: none;
  border: none;
  width: 100px;
  height: 50px;
  font-size: 25px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 600;
  background-color: transparent;
  color: white;
}

#greeting {
  position: absolute;
  z-index: 20;
  top: 110px;
  font-size: 40px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
}
